parameters:
  - name: vmName
    type: string
    default: 'TestBotVM'
  - name: vmSize
    type: string
    default: 'Standard_B1s'

trigger:
  - main

variables:
  serviceConnection: 'azurebotconnection'
  backendRG: 'ccdemo'
  backendStorage: 'terraformtfstate202622'
  backendContainer: 'tfstate'
  backendKey: 'terraform.tfstate'

stages:
- stage: Provision
  jobs:
  - job: TerraformJob
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTaskV4@4
      displayName: 'Init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: '$(serviceConnection)'
        backendAzureRmResourceGroupName: '$(backendRG)'
        backendAzureRmStorageAccountName: '$(backendStorage)'
        backendAzureRmContainerName: '$(backendContainer)'
        backendAzureRmKey: '$(backendKey)'

    - task: TerraformTaskV4@4
      displayName: 'Apply'
      name: tfApply # Important for output referencing
      inputs:
        provider: 'azurerm'
        command: 'apply'
        environmentServiceNameAzureRM: '$(serviceConnection)'
        commandOptions: '-var="vm_name=${{ parameters.vmName }}" -var="vm_size=${{ parameters.vmSize }}" -auto-approve'

    - script: |
        # Capture the IP and set it as an output variable for other stages
        IP=$(terraform output -raw public_ip)
        echo "##vso[task.setvariable variable=VM_IP;isOutput=true]$IP"
      name: setVars
      displayName: 'Capture Terraform Output'

- stage: Configure
  dependsOn: Provision
  variables:
    # Fetch the variable from the previous stage
    TARGET_IP: $[ stageDependencies.Provision.TerraformJob.outputs['setVars.VM_IP'] ]
  jobs:
  - job: AnsibleJob
    steps:
    - script: |
        pip install ansible
        export ANSIBLE_HOST_KEY_CHECKING=False
        # Use a comma after the IP to tell Ansible it's a direct host
        ansible-playbook -i "$(TARGET_IP)," ./ansible/monitor_setup.yml \
        -u azureuser -e "ansible_password=Namashiva@1982"
      displayName: 'Run Ansible'