parameters:
  - name: vmName
    type: string
    default: 'TestBotVM'
  - name: vmSize
    type: string
    default: 'Standard_B1s'

trigger: none # We will run this manually for testing

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: TerraformInstaller@0
  inputs:
    terraformVersion: 'latest'

- script: |
    terraform init
    terraform apply -var="vm_name=${{ parameters.vmName }}" -var="vm_size=${{ parameters.vmSize }}" -auto-approve
  displayName: 'Terraform Apply'
  workingDirectory: './terraform'

- script: |
    PUBLIC_IP=$(terraform output -raw public_ip)
    ansible-playbook -i "$PUBLIC_IP," ./ansible/monitor_setup.yml
  displayName: 'Run Ansible'
  workingDirectory: '.'