# ... (parameters and variables stay the same)

stages:
- stage: Provision
  jobs:
  - job: TerraformJob
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTaskV4@4
      displayName: 'Init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        # ADD THIS LINE:
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
        backendServiceArm: '$(serviceConnection)'
        backendAzureRmResourceGroupName: '$(backendRG)'
        backendAzureRmStorageAccountName: '$(backendStorage)'
        backendAzureRmContainerName: '$(backendContainer)'
        backendAzureRmKey: '$(backendKey)'

    - task: TerraformTaskV4@4
      displayName: 'Apply'
      name: tfApply
      inputs:
        provider: 'azurerm'
        command: 'apply'
        # ADD THIS LINE:
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
        environmentServiceNameAzureRM: '$(serviceConnection)'
        commandOptions: '-var="vm_name=${{ parameters.vmName }}" -var="vm_size=${{ parameters.vmSize }}" -auto-approve'

    - script: |
        # IMPORTANT: We must also be in the directory to get the output!
        cd terraform 
        IP=$(terraform output -raw public_ip)
        echo "##vso[task.setvariable variable=VM_IP;isOutput=true]$IP"
      name: setVars
      displayName: 'Capture Terraform Output'

# ... (Configure stage stays the same)